#
# misc
#
alias rld='source ~/.bashrc'
alias bup='brew upgrade && brew cleanup'
alias gup='sudo gcloud components update'
alias div='tput setaf 4; tput bold; printf "%$(tput cols)s\n" | tr " " =; tput sgr0'
alias kr="jobs -l | grep '+' | awk '{print $2}' | xargs kill -SIGKILL"
alias ports='lsof -iTCP -sTCP:LISTEN -n -P'
alias rg='rg -M 512 --no-heading'
alias shellcheck='shellcheck --color=always'
alias sudo='sudo '  # allow for sudo completion
alias t='tmux'
alias ta='tmux attach'
alias watch='watch --color ' # allow watch completion with leading space https://unix.stackexchange.com/a/25329/162041
alias path="echo $PATH | tr ':' '\n' | sort"

#
# k8s
#
alias k='kubectl'
alias kn='kubectl get no'
alias mkl='minikube service list'
alias kpa='kp -a'
alias wpa='wp -a'

#
# generic
#
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'
alias j='jobs -l'
alias t="exa -TL2 -F"
alias ..='cd ..'
alias ...='cd ../..'
alias tm='tmux'

#
# editors
#
alias emacs='emacs -nw'
alias e='emacs'
alias v=vim
alias m=micro

#
# golang
#
alias goi='go install -v ./...'
alias gome='cd $FIRSTGOPATH/src/github.com/henrywallace'
alias gdoc='echo http://localhost:6060; godoc -play -notes="TODO|HELP|QUESTION" -http :6060'

#
# rustlang
#
alias cup='rustup update && cargo install-update -a'

#
# git
#
alias cleanup='git branch --merge master | grep -v master | xargs git branch -d 2> /dev/null || echo "no branches to cleanup"'
alias conflicts="rg '<<<<<<<'"
alias gbranch='git diff --name-only $(git merge-base master HEAD)'
alias g-='git checkout -'
alias ga='git add -u'
alias gap='ga -p'
alias gd='git diff'
alias gds='echo; git diff --stat; echo'
alias gdc='git diff --cached'
alias gl='git log --stat master..HEAD'
alias gm='git checkout master'
alias gmp='git checkout master && git pull && cleanup'
alias gn='git checkout -b'
alias gp='git pull --rebase'
alias gs='git status'
alias lg='git log --oneline master..HEAD --color=always'
alias lgp='git log -p master..HEAD'
alias llg='git log --graph --oneline'
alias lr='git show HEAD'
alias lrq='echo; git log --oneline HEAD~..HEAD; echo'
alias lrs='git show HEAD --stat'
alias rc='git rebase --continue'
alias review='git log --stat --reverse master..HEAD'
alias p='git stash show -p'
alias st='git stash --keep-index'
alias stl='git stash list'
alias stp='git stash pop'
