[user]
	name = Henry Wallace
	email = h@henrywallace.io

[push]
	default = simple

[core]
	editor = vim
	# git-config does indeed expand ~
	# https://stackoverflow.com/a/11262153
	excludesfile = ~/.gitignore_global

[alias]
	b = branch
	co = checkout
	cm = commit --allow-empty -m

[log]
	graphColors = red
	abbrevCommit = true

; [url "git@github.com:"]
; 	insteadOf = https://github.com/

; [pull]
; 	ff = only

; [rerere]
; 	enabled = true
