#!/bin/sh

export CGO_CPPFLAGS="$CGO_CPPFLAGS -Wno-unused-result"
export GOTMPDIR=/tmp/go/
[ -d $GOTMPDIR ] || mkdir -p $GOTMPDIR
export MANWIDTH=100
if command -v bat &>/dev/null; then
  export MANPAGER="sh -c 'col -b | bat -l man -p'"
fi
