[user]
	name = Henry Wallace
	email = "henry@henrywallace.io"

[push]
	default = simple

[core]
	# Don't set editor, but instead just use $EDITOR
	# https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration#_core_editor
	# editor =
	# git-config does indeed expand ~
	# https://stackoverflow.com/a/11262153
	excludesfile = ~/.gitignore_global
	hooksPath = ~/dotfiles/misc/git-hooks

[include]
	path = ~/.diffeo_gitconfig

[alias]
	co = checkout
	cp = cherry-pick
	c = commit
	cm = commit --allow-empty -m

[pull]
	ff = only

[log]
	graphColors = red
	abbrevCommit = true

[url "git@github.com:henrywallace"]
	insteadOf = https://github.com/henrywallace

[absorb]
	maxStack = 100

[rebase]
	autosquash = true

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

; [pager]
;     diff = delta
;     log = delta
;     reflog = delta
;     show = delta

; [interactive]
;     diffFilter = delta --color-only --features=interactive

; [delta]
;     features = decorations
;     syntax-theme = "collared-trogon"

; [delta "interactive"]
;     keep-plus-minus-markers = false

; [delta "decorations"]
;     commit-decoration-style = blue ol
;     commit-style = raw
;     file-style = omit
;     hunk-header-decoration-style = blue box
;     hunk-header-file-style = red
;     hunk-header-line-number-style = "#067a00"
;     hunk-header-style = file line-number syntax
