[user]
    name = Henry Wallace
    email = henry@henrywallace.io

[push]
    default = simple

[core]
    editor = vim
    excludesfile = /Users/henrywallace/.gitignore_global

[alias]
    a = add
    b = branch -vv
    c = checkout
    r = rebase
    br = branch -vv
    co = checkout
