[Unit]
Description=WPA supplicant daemon (interface-specific version)
Before=network.target
Wants=network.target
Conflicts=wpa@.service

[Service]
Type=simple
ExecStart=/usr/bin/wpa_supplicant -c /etc/wpa_supplicant/%I.conf -i wlp2s0 -d

[Install]
Alias=default.target
